$loading: #3d0000;

//Loading
#wrapper {
  color: $loading;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  #loading {
    display: table-cell;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    vertical-align: middle;
    font-family: helvetica, sans-serif;

    .bulletouter {
      animation: loadinganim 1s infinite;
      animation-timing-function: linear;
      animation-direction: reverse;
      width: 50px;
      height: 50px;
      background: $loading;
      border-radius: 50%;
      margin: 0 auto;

      .bulletinner {
        position: relative;
        left: -5px;
        width: 45px;
        height: 45px;
        background: white;
        border-radius: 50%;
        margin: 0 auto;
      }

      .mask {
        position: relative;
        left: -5px;
        top: -15px;
        width: 50px;
        height: 25px;
        background: white;
        transform: rotate(45deg);
      }

      .dot {
        position: relative;
        left: 33px;
        top: -32px;
        width: 8px;
        height: 8px;
        background: $loading;
        border-radius: 50%;
      }
    }

    p {
      padding-top: 23px;
    }
  }
}